//global settings

html, body {
	font-family: $main-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
	background-image: asset-data-url("debut_light.png");
	background-repeat: repeat;	
	text-transform:capitalize;
	@include susy-breakpoint($bp-medium, $susy){
		font-size: $base-font-size-lg;
	}
}


main{
    @include container;
}

header{
	text-align: center;
	background-color: $primary_color;
	color: $header_color;
	padding: 1rem;	
	margin-bottom: 2rem;
	height: 5rem;
	width: 100%;
	@include box-shadow(0 0 9px #9d9d9d);
	position: fixed;
	z-index: 9999;
}

h1{
	margin-top: 0rem;
	font-size: 2.5rem;
	font-weight: 300;
}

img {
	width: 100%;
}





